<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:include="layouts/adminlayout.html">
<head>
    <!-- Include required CSS and JS files -->

</head>
<body>

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->

<div class="container" th:fragment="content">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- basic table -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-4">
                        <h4 class="card-title">View Merit List</h4>
                        <div class="ms-auto">
                            <!--                            <div class="dropdown sub-dropdown">-->
                            <!--                                <button class="btn btn-link text-muted dropdown-toggle" type="button"-->
                            <!--                                        id="dd2" data-bs-toggle="dropdown" aria-haspopup="true"-->
                            <!--                                        aria-expanded="false">-->
                            <!--                                    <i data-feather="more-vertical"></i>-->
                            <!--                                </button>-->
                            <!--                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd2">-->
                            <!--                                    <a class="dropdown-item" href="registration">Insert</a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                    </div>
                    <div class="mb-3">
                        <form>
                            <div class="row align-items-center">
                                <div class="col-md-4">

                                    <select id="itiSelect" class="form-select">
                                        <option selected disabled>Select ITI</option>
                                        <option th:each="center : ${getCenters}" th:value="${center.centerId}"
                                                th:text="${center.centerName}"></option>
                                    </select>
                                </div>
                                <div class="col-md-4">

                                    <select id="tradeSelect" class="form-select" disabled>
                                        <option selected disabled>Select Trade</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" name="submit" value="Get List" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="loader" class="d-none"
                         style="display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;">
                        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div class="row mt-5" style="display: none" id="tableContainer">

                        <div class="table-responsive">
                            <table id="zero_config"
                                   class="table border table-striped table-bordered table-hover text-nowrap">
                                <thead class="bg-info text-white">
                                <tr>
                                    <th>Slno</th>
                                    <th>App No</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Ph</th>
                                    <th>Class Eight(%)</th>
                                    <th>Class Ten(%)</th>
                                    <th>Maths-Sci(%)</th>
                                    <th>View</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="border border-info">

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- View Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title fw-bold text-dark" id="exampleModalLabel"><span
                            id="applicantNameTitle"></span>'s Application
                    </h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                    <img class="img-thumbnail border border-dark" id="photoImage" src="" alt="Photograph" width="15%">
                    <h4 class="text-dark mt-3">Personal Details:</h4>
                    <div class="row container mt-3 pb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="applicationNumber">Application Number</label>
                                <input id="applicationNumber" class="form-control" readonly>
                            </div>

                            <div class="form-group pb-3">
                                <label for="fatherName">Father's Name</label>
                                <input id="fatherName" class="form-control" readonly>
                            </div>

                            <div class="form-group pb-3">
                                <label for="gender">Gender</label>
                                <input id="gender" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="category">Category</label>
                                <input id="category" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="maritalStatus">Marital Status</label>
                                <input id="maritalStatus" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="email">Email</label>
                                <input id="email" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="mobileNumber">Mobile Number</label>
                                <input id="mobileNumber" class="form-control" readonly>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="centerName">Center Name</label>
                                <input id="centerName" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="motherName">Mother's Name</label>
                                <input id="motherName" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="dob">Date of Birth</label>
                                <input id="dob" class="form-control" readonly>
                            </div>


                            <div class="form-group pb-3">
                                <label for="tribe">Tribe</label>
                                <input id="tribe" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="religion">Religion</label>
                                <input id="religion" class="form-control" readonly>
                            </div>

                            <div class="form-group pb-3">
                                <label for="motherTongue">Mother Tongue</label>
                                <input id="motherTongue" class="form-control" readonly>
                            </div>


                        </div>
                    </div>
                    <h4 class="text-dark">Address (Permanent):</h4>
                    <div class="row container mt-3 pb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="statePerm">State</label>
                                <input id="statePerm" class="form-control" readonly>
                            </div>

                            <div class="form-group pb-3">
                                <label for="townPerm">Town</label>
                                <input id="townPerm" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="addressPerm">Address</label>
                                <textarea id="addressPerm" class="form-control" readonly></textarea>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="districtPerm">District</label>
                                <input id="districtPerm" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="pincodePerm">Pincode</label>
                                <input id="pincodePerm" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-dark">Address (Correspondence):</h4>
                    <div class="row container mt-3 pb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="stateCorr">State</label>
                                <input id="stateCorr" class="form-control" readonly>
                            </div>

                            <div class="form-group pb-3">
                                <label for="townCorr">Town</label>
                                <input id="townCorr" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="addressCorr">Address</label>
                                <textarea id="addressCorr" class="form-control" readonly></textarea>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="districtCorr">District</label>
                                <input id="districtCorr" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="pincodeCorr">Pincode</label>
                                <input id="pincodeCorr" class="form-control" readonly>
                            </div>

                        </div>
                    </div>
                    <h4 class="text-dark">Bank Details:</h4>
                    <div class="row container mt-3 pb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="accountNumber">Account Number</label>
                                <input id="accountNumber" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="ifscCode">IFSC Code</label>
                                <input id="ifscCode" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="bankName">Bank Name</label>
                                <input id="bankName" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-dark">Trades Selected:</h4>
                    <div class="row container mt-3 pb-5">
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="preferenceOne">First Preference</label>
                                <input id="preferenceOne" class="form-control" readonly>
                            </div>
                            <div class="form-group pb-3">
                                <label for="preferenceTwo">Second Preference</label>
                                <input id="preferenceTwo" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pb-3">
                                <label for="preferenceThree">Third Preference</label>
                                <input id="preferenceThree" class="form-control" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        // Get references to the select boxes
        var itiSelect = $('#itiSelect');
        var tradeSelect = $('#tradeSelect');


        // Add an event listener to the ITI select box
        itiSelect.on('change', function() {
            var selectedITI = itiSelect.val();
            populateTradeSelect(selectedITI);
        });

        // Add an event listener to the trade select box
    tradeSelect.on('change', function() {
        var selectedTrade = tradeSelect.val();
    });

      function populateTradeSelect(selectedITI) {
    // Disable the trade select box
    tradeSelect.prop('disabled', true);

    // Clear existing options except the first one
    tradeSelect.find('option:not(:first)').remove();

    // Make an AJAX request to fetch the trades based on the selected ITI
    $.ajax({
        url: 'api/getCenterTradesByCenterId/' + selectedITI,
        method: 'GET',
        data: { centerId: selectedITI },
        success: function(response) {
                    // Process the response and populate the trade select box
                    response.forEach(function(trade) {
                        tradeSelect.append($('<option></option>')
                            .val(trade.tradeId.tradeCode)
                            .text(trade.tradeId.tradeName));
                    });

                    // Enable the trade select box
                    tradeSelect.prop('disabled', false);

                },
                error: function() {
                    console.error('Error fetching trades.');
                }
            });
        }
    });


$(document).ready(function() {
    var table = $('#zero_config').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'pdfHtml5',
                customize: function(doc) {

                    // Set page size to A4 landscape
                    doc.pageSize = 'A4';
                    doc.pageOrientation = 'landscape';

                    // Remove the "exported data" heading
    doc.content.splice(0, 1);

    // Add selected ITI and Trade as headings
    var selectedITI = $('#itiSelect option:selected').text();
    var selectedTrade = $('#tradeSelect option:selected').text();
    var headings = 'Merit List \n\n' + selectedITI + '\nTrade: ' + selectedTrade;
    doc.content.splice(0, 0, { text: headings, fontSize: 14, bold: true, margin: [0, 0, 0, 10] });

    // Update the serial number (slno) in the exported PDF
                    var rowCount = doc.content[1].table.body.length;
                    for (var row = 1; row < rowCount; row++) { // Start from row 1 to skip the heading row
                        doc.content[1].table.body[row][0].text = row;
                    }


    // Get the table body
    var tableBody = doc.content[1].table.body;
    var rowCount = tableBody.length;

    // Customize table design for visible columns only
    for (var row = 0; row < rowCount; row++) {
        var rowData = tableBody[row];

        // Loop through each column and apply simple formatting
        for (var col = 0; col < rowData.length; col++) {
            var cell = rowData[col];

            // Check if the cell is defined before setting its properties
            if (cell) {
                cell.alignment = 'center'; // Set cell alignment
                cell.margin = [5, 5, 5, 5]; // Set cell margins
                cell.fontSize = 10; // Set font size
                cell.bold = (row === 0); // Make header cells bold
            }
        }
    }
},
                exportOptions: {
                    columns: ':visible:not(:nth-last-child(2)):not(:last-child)'
                }
            },
            'copyHtml5',
            'excelHtml5'
        ],
        columnDefs: [
            // Column Definitions for customizations
            {
                targets: '_all', // Targets all columns
                orderable: false // Disable sorting
            },
            {
                targets: [5, 6, 7], // Indexes of columns to customize (0-based index)
            }
        ],
       "rowCallback": function (row, data, index) {
                        var api = this.api();
                        var startIndex = api.context[0]._iDisplayStart;
                        var pageSize = api.context[0]._iDisplayLength;
                        var currentPage = Math.floor(startIndex / pageSize);
                        var rowNumber = index + 1 + currentPage * pageSize;

                        $('td:eq(0)', row).html(rowNumber);
                    }
    });

    function populateCandidateTable(selectedITI, selectedTrade) {

        tableContainer.style.display = "none";
        document.getElementById("loader").classList.remove("d-none");

        // Clear the table body
        table.clear().draw();

        console.log("Selected ITI : "+selectedITI);
        console.log("Selected Trade : "+selectedTrade);

        // Make an AJAX request to fetch the candidates from merit list with the selected ITI and trade
        $.ajax({
            url: 'getMeritListByCenterIdAndTradeId/' + selectedITI + '/' + selectedTrade,
            method: 'GET',
            success: function(response) {
            document.getElementById("loader").classList.add("d-none");
            console.log(response);

            if (response && response.length > 0) {
           // Check the values of mathsScience and tenthPass for the first candidate in the response
            var firstCandidate = response[0];
            var mathsScience = firstCandidate.mathsScience;
            var tenthPass = firstCandidate.tenthPass;

            // Determine column visibility based on the first candidate's values
            var isMathsScienceY = (mathsScience === 'Y' && tenthPass === 'Y');
            var isMathsScienceN = (mathsScience === 'N' && tenthPass === 'Y');
            var isBothN = (mathsScience === 'N' && tenthPass === 'N');

            // Set column visibility based on the determined conditions
            table.columns(5).visible(isBothN); // %8th column
            table.columns(6).visible(isMathsScienceY || isMathsScienceN); // %10th column
            table.columns(7).visible(isMathsScienceY); // %mathsSci column


           // Redraw the table to apply column visibility changes
                table.draw();

                // Define the headerCallback function to customize header colors
                var headerCallback = function(thead, data, start, end, display) {
                    // Customize column header colors based on conditions
                    if (isBothN) {
                        $(thead).find('th:eq(5)').css('background-color', '#3f4f9b'); // %8th column header
                        $(thead).find('th:eq(6)').css('background-color', ''); // %10th column header
                        $(thead).find('th:eq(7)').css('background-color', ''); // %mathsSci column header
                    } else if (isMathsScienceY) {
                        $(thead).find('th:eq(5)').css('background-color', ''); // %8th column header
                        $(thead).find('th:eq(6)').css('background-color', '#3f4f9b'); // %10th column header
                        $(thead).find('th:eq(7)').css('background-color', ''); // %mathsSci column header
                    } else if (isMathsScienceN) {
                        $(thead).find('th:eq(5)').css('background-color', '#3f4f9b'); // %8th column header
                        $(thead).find('th:eq(6)').css('background-color', ''); // %10th column header
                        $(thead).find('th:eq(7)').css('background-color', ''); // %mathsSci column header
                    }
                };

                // Apply the headerCallback function to the DataTable
                table.on('draw.dt', function() {
                    var header = table.table().header();
                    headerCallback(header);
                });

            // Now loop through the candidates to populate the table
            response.forEach(function(candidate, index) {
                var row = [
                    index + 1, // Index column
                    '<button onclick="abc(\'' + candidate.applicationnumber + '\')" class="btn btn-primary btn-sm view-details" data-bs-toggle="modal" data-bs-target="#exampleModal">' + candidate.applicationnumber + '</button>', // App No column with button
                    candidate.applicantname.toUpperCase(),
                    candidate.categories, // Category column
                    candidate.ph
                ];

                // Add percentage columns based on the determined conditions
                if (isMathsScienceY) {
                    row.push(candidate.percentageeight, candidate.percentagetenth, candidate.percentage);
                } else if (isMathsScienceN) {
                    row.push(candidate.percentageeight, candidate.percentagetenth, candidate.percentage);
                } else {
                    row.push(candidate.percentageeight, candidate.percentagetenth, candidate.percentage);
                }
                row.push('<button onclick="abc(\'' + candidate.applicationnumber + '\')" class="btn btn-primary btn-sm view-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button>');
                row.push('<button onclick="removeApplicant(\'' + candidate.applicationnumber + '\')" class="btn btn-primary btn-sm">Remove</button>');

                // Add the row to the table
                table.row.add(row).draw(false);
                var tableContainer = document.getElementById("tableContainer");
                tableContainer.style.display = "block";
            });
            } else{
                // Handle the case when the response is empty
                var tableContainer = document.getElementById("tableContainer");
                tableContainer.style.display = "none"; // Hide the table container
                alert("No Applications found for the selected ITI and trade.");
            }

            },
            error: function() {
                console.error('Error fetching candidates.');
                document.getElementById("loader").classList.add("d-none");
            }
        });
    }


    // Add an event listener to the form submission
    $('form').on('submit', function(event) {
        event.preventDefault();

        var selectedITI = $('#itiSelect').val();
        var selectedTrade = $('#tradeSelect').val();
        populateCandidateTable(selectedITI, selectedTrade);
    });
});


    function abc(id) {
        console.log("inside abc");
        $.ajax({
            type: "GET",
            url: "application_no",
            data: "id="+id,
            success: function (data) {
                $("#applicationNumber").val(data.applicationnumber);
                $("#centerName").val(data.centers.centerName);
                var applicantName = data.applicantname;
                document.getElementById("applicantNameTitle").textContent = applicantName;
                $("#fatherName").val(data.fathername);
                $("#motherName").val(data.mothername);
                $("#gender").val(data.gender.genderName);
                $("#dob").val(data.dob);
                $("#category").val(data.categories.categoryName);
                $("#religion").val(data.religions.religionName);

                // Check if tribes object exists before accessing properties
                if (data.tribes) {
                    $("#tribe").val(data.tribes.tribeName);
                } else {
                    $("#tribe").val("N/A");
                }

                $("#maritalStatus").val(data.maritalStatus.maritalStatus);
                $("#motherTongue").val(data.mothertongue);
                $("#mobileNumber").val(data.mobilenumber);
                if (data.photograph) {
                    var photoImg = document.getElementById("photoImage");
                    photoImg.src = "data:image/png;base64," + data.photograph;
                    photoImg.alt = "Photograph"; // Add alt text for accessibility
                }
                $("#highestQualification").val(data.highestQualification.qualificationName);
                $("#email").val(data.email);
                $("#statePerm").val(data.states.name);
                $("#districtPerm").val(data.districts.name);
                $("#townPerm").val(data.townperm);
                $("#addressPerm").val(data.addressperm);
                $("#pincodePerm").val(data.pincodeperm);
                $("#stateCorr").val(data.statescorr.name);
                $("#districtCorr").val(data.districtscorr.name);
                $("#townCorr").val(data.towncorr);
                $("#addressCorr").val(data.addresscorr);
                $("#pincodeCorr").val(data.pincodecorr);
                $("#accountNumber").val(data.accountnumber);
                $("#ifscCode").val(data.ifsccode);
                $("#bankName").val(data.bankname);
                $("#instituteTenth").val(data.institutetenth);
                $("#boardTenth").val(data.boardtenth);
                $("#yearPassingTenth").val(data.yearpassingtenth);
                $("#percentageTenth").val(data.percentagetenth);
                $("#divisionTenth").val(data.divisiontenth);
                $("#subjectsTenth").val(data.subjectstenth);
                $("#havePassedBoth").val(data.haveyoupassedboth);
                $("#marksMaths").val(data.marksmaths);
                $("#marksScience").val(data.marksscience);
                $("#instituteEight").val(data.instituteeight);
                $("#boardEight").val(data.boardeight);
                $("#yearPassingEight").val(data.yearpassingeight);
                $("#percentageEight").val(data.percentageeight);
                $("#divisionEight").val(data.divisioneight);
                $("#subjectsEight").val(data.subjectseight);
                $("#preferenceOne").val(data.trades1.tradeName);
                $("#preferenceTwo").val(data.trades2 ? data.trades2.tradeName : '');
                $("#preferenceThree").val(data.trades3 ? data.trades3.tradeName : '');
                $("#submissionDate").val(data.submissiondatte);
                $("#ph").val(data.ph);

                console.log(data);
            },
            error: function (data) {
                console.log("Error");
            }
        });
    }


    function removeApplicant(id) {
        console.log("inside removeApplicant");

        var confirmed = confirm("Do you really wish to delete the applicant with application no: " + id + "?");


    if (confirmed) {
        $.ajax({
            type: "DELETE",
            url: "removeFromMeritList",
            data: "id="+id,
            success: function(response) {
            console.log('Applicant removed successfully:', response);
            alert('Applicant removed successfully.');
            location.reload();

        },
        error: function(xhr, status, error) {
            console.error('Error removing applicant:', error);
        }
    });
    }
}






































    </script>


</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
</body>
</html>