<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title th:text="${title}">ITI Admission</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta content="" name="description">
    <meta content="" name="keywords">

    <style>
    @media print {
       .noprint { display:none; }
       .printarea { display:block; }
    }




    </style>

    <!-- Template Main CSS File -->
    <link th:href="@{../admin/dist/css/style.min.css}" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="http://localhost:35729/livereload.js"></script>

    <link rel="stylesheet" href="../admin/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../admin/assets/extra-libs/datatables.net-bs4/css/responsive.dataTables.min.css">

</head>