<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar noprint" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" href="dashboard" aria-expanded="false">
                        <i data-feather="home" class="feather-icon"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>


                <li class="list-divider"></li>
                <li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
                                            aria-expanded="false"><i data-feather="file-plus"
                                                                     class="feather-icon"></i><span
                        class="hide-menu">Tasks </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">

                        <li class="sidebar-item">
                            <a href="add_merit_list" class="sidebar-link">
                                <span class="hide-menu">Add to Merit List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="remove_from_merit_list" class="sidebar-link">
                                <span class="hide-menu">Remove from Merit List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="edit_application" class="sidebar-link">
                                <span class="hide-menu">Edit Application</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
                                            aria-expanded="false"><i data-feather="file-text"
                                                                     class="feather-icon"></i><span
                        class="hide-menu">Reports </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">

                        <li class="sidebar-item">
                            <a href="registration_list" class="sidebar-link">
                                <span class="hide-menu">Registered Applicants</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="check_list" class="sidebar-link">
                                <span class="hide-menu">Check List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="view_merit_list" class="sidebar-link">
                                <span class="hide-menu">Merit List</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="view_waiting_list" class="sidebar-link">
                                <span class="hide-menu">Waiting List</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list-divider"></li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->