<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/htmlhead.html"> </head>
<body>

<nav th:replace="fragments/navbar.html"></nav>


<main class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 rounded bg-matte-black text-white">
        <div class="col-md-8 px-0 pt-5">
            <h1 class="display-4 fst-italic">Welcome to IVCS Ltd</h1>
            <p class="lead my-3">It is a community based organization that can legally carry
                out, amongst others, financial activities and provide financial
                services to its members.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
    </div>
</main>


<section id="about">
    <div class=" container px-4 pt-5 pb-5">
        <h1 class="display-5 fw-bold pb-2">What is IVCS</h1>
        <div class="hr-line-about"></div>
        <div class="col-lg-12">
            <p class="lead mb-4 pt-3">The Integrated Village Co-operative Societies (IVCS) are
                unique home-grown village/community based organizations/
                credit cooperative societies initiated by the Cooperation
                Department, Government of Meghalaya in 2011-12 which are
                grown and nurtured under the Meghalaya Livelihood and Access
                to Markets Project (Megha-LAMP). The IVCS are formally
                recognized as Primary Agricultural Credit Society (PACS)
                vide Government of Meghalaya, Cooperation Department
                Notification No.COD.12/2015/69 dated Shillong, the 2nd
                February, 2021</p>

            <p class="lead mb-4 pt-3">A total of 330 IVCS formed under Phase-I and PhaseII are presently being supported by the project. In the State of
                Meghalaya, the formal banking network is not being able to provide access to various financial services to all households in the
                different villages and the distant parts of the State on account of difficult topography with limited transport and communication
                infrastructure. Residents of many interior villages have to travel long distances just for basic banking services like making a
                deposit or withdrawing money from their accounts, let alone availing bank credit and other services. Even in areas where
                bank branches are present, villagers still find it difficult to avail the services on account of cumbersome procedures of banks,
                language problems, poor knowledge on financial literacy and require handholding assistance in many areas related to banking
                services. These factors have impacted adversely on residents in remote villages in their not being able to save whatever
                small amounts that they can and end up spending the same on unhealthy and unproductive activities/ habits. They visit bank
                branches, most of which are located far away, only for withdrawal of wages credited to their accounts under MNREGA.</p>

            <p class="lead mb-4 pt-3">It is against this backdrop that the idea of setting up
                Integrated Village Cooperative Societies (IVCS) emerged. An
                IVCS is a community based organization that can legally carry
                out, amongst others, financial activities and provide financial
                services to its members. It is a village institution that is run by
                the villagers themselves. After formation, IVCS are formally
                registered with the Office of the Registrar of Cooperative Societies
                and hence, are legal entities.</p>
        </div>
    </div>
</section>

<section id="imp-points" class="bg-light-subtle py-5">
    <div class="container px-4">
        <h1 class="display-5 fw-bold pb-2 fst-italic">Important points to be noted on
            formation of IVCS</h1>
        <div class="hr-line-about"></div>
        <div class="col-lg-12 pt-4">
            <p class="lead mb-4 pt-3">An IVCS should ideally be a single village IVCS provided the
                village has at least 150 to 200 Households. In case of villages
                with less number of Households, an IVCS can still be formed with
                adjoining/ neighbouring villages joining together to have 150 to
                200 Households. </p>

            <p class="lead mb-4 pt-3">Each IVCS should strive to cover all Households and have 300 or
                more Members. The more the Members the better for the viability
                of the IVCS. </p>

            <p class="lead mb-4 pt-3">The IVCS are formed and develop in collaboration and close
                coordination with the Office of the Registrar of Cooperative,
                Societies, Government of Meghalaya. </p>

            <p class="lead mb-4 pt-3">It may be shared that performing IVCS have managed to obtain
                various kinds of support, in terms of materials, funds, infrastructure
                from Government and Government Agencies, exposure and
                learning and active linkage with MCAB and other banks. Financial
                Intermediaries (FIs). Thus it is important for an IVCS to try and
                develop in such a way that it attracts the attention of the authorities
                and agencies through its performance.</p>

            <p class="lead mb-4 pt-3">Managing Committee members and Opinion leaders in the IVCS/
                Village should encourage all Members to open savings/deposit
                accounts and avail of credit facilities from the IVCS which they
                can get at comparatively and reasonably low rate of interest. </p>

            <p class="lead mb-4 pt-3">The business hours of the IVCS should be clearly mentioned in the
                office name-board. The business hours can be made flexible to suit
                the convenience of the residents / members.</p>

            <p class="lead mb-4 pt-3">It is has been seen that in some existing IVCS, the progress of the
                IVCS have suffered immensely owing to following reasons:</p>

            <p class="lead mb-4 pt-3">1. The Secretary suddenly leaves the IVCS after getting a job or lives in
                another village/ place after marriage. The selection of the Secretary
                should be done keeping in mind the above. Or, keeping a second
                person who would also be familiar with the affairs of the IVCS will be
                helpful in the event of the Secretary having to leave.</p>

            <p class="lead mb-4 pt-3">2. There is conflict between the IVCS and the office bearers of the Dorbar
                Shnong (Village Durbar). It is advised that the Headman of the Village
                should also be the Chairman of the IVCS.</p>

        </div>
    </div>
</section>

<footer th:replace="fragments/footer.html"></footer>
</body>
</html>