<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/htmlhead.html"> </head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<section class="bg-light-subtle">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-5 py-5 mt-3">
            <div class="col-lg-6">
                <div class="welcome-img-1">
                    <h1 class="display-5 fw-bold lh-1 mb-4">Welcome to IVCS Ltd</h1>
                    <p class="lead mb-4">It is a community based organization that can legally carry
                        out, amongst others, financial activities and provide financial
                        services to its members.</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="position: relative;">
                        <a href="/about">
                            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="welcome-img">
                    <img src="img/hero.png" class="d-block mx-lg-auto img-fluid shadow-lg" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="position: relative;">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-section">
    <div class="px-4 pt-5 text-center">
        <h1 class="display-5 fw-bold pb-2">About Us</h1>
        <div class="hr-line"></div>
        <div class="col-lg-10 mx-auto">
            <p class="lead mb-4 pt-3">Under the project, a number of capacity building programmes
                through trainings, workshops, exposure visits (within and
                outside the State) are conducted free of cost from time to
                time for the office bearers and members of the IVCS.</p>
        </div>
    </div>
    <div class="container col-xxl-8 px-4 mb-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-4">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">What is an IVCS?</h1>
                <p class="lead">The Integrated Village Co-operative Societies (IVCS) are
                    unique home-grown village/community based organizations/
                    credit cooperative societies initiated by the Cooperation
                    Department, Government of Meghalaya in 2011-12 which are
                    grown and nurtured under the Meghalaya Livelihood and Access
                    to Markets Project (Megha-LAMP).</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="position: relative;">
                    <a href="/about">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                    </a>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="about-img">
                    <img src="img/article/3.jpeg" class="d-block mx-lg-auto img-fluid shadow-lg" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="clients" class="section-bg mb-4 bg-light-subtle">

    <div class="container">

        <div class="section-header text-center py-4">
            <h3>In Association With</h3>
            <!-- <p>Meet our happy clients</p> -->
        </div>

        <div class="row align-items-center pb-4">

            <div class="col-md-4 text-center">
                <div class="client-logo">
                    <img src="img/MBMA.png">
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="client-logo">
                    <img src="img/mc.jpg">
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="client-logo">
                    <img src="img/ifad.jpg">
                </div>
            </div>

        </div>

    </div>

</section>

<!-- ======= On Focus Section ======= -->
<section id="ivcs-formation" class="ivcs-formation mb-4">
    <div class="container my-5 pb-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Important points to be noted on
                    formation of IVCS</h1>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">  An IVCS should ideally be a single village IVCS provided the
                          village has at least 150 to 200 Households.</span>
                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">Each IVCS should strive to cover all Households and have 300 or
                          more Members.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">The IVCS are formed and develop in collaboration and close
                          coordination with the Office of the Registrar of Cooperative,
                          Societies, Government of Meghalaya.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">It may be shared that performing IVCS have managed to obtain
                          various kinds of support, in terms of materials, funds, infrastructure
                          from Government and Government Agencies, exposure and
                          learning and active linkage with MCAB and other banks.</span>

                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3" style="position: relative;">
                    <a href="/about">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <div class="ivcs-info-img">
                    <img class="rounded-lg-3" src="img/article/2.jpeg" width="700" height="500">
                </div>
            </div>
        </div>
    </div>
</section><!-- End On Focus Section -->

<!-- ======= Members Section ======= -->
<section id="members" class="members mb-4 bg-light-subtle">
    <div class="container col-xxl-8 px-4 mb-4">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Who can be a member in an IVCS?</h1>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">Membership in an IVCS is opened to individuals above the age
                        of 18 years and lives in the village(s) covered by the IVCS.</span>
                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">Membership in an IVCS will also be open to SHGs/ Members
                        of SHGs, Producer Groups/Members of PGs which operate/
                        who lives in the village(s) covered by IVCS.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">Minimum of 15 adults can start, as promoters, the process of
                        forming an IVCS. Of the 15 promoters, efforts should be made
                        that at least 05 will be women.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">While mobilizing membership, minimum 50% of them should
                        be women.</span>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="position: relative;z-index: 1;">
                    <a href="/members">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                    </a>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="member-img">
                    <img src="img/article/4.jpeg" class="d-block mx-lg-auto img-fluid shadow-lg" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="position: relative;">
                </div>
            </div>
        </div>
    </div>
</section><!-- End On Focus Section -->

<!-- ======= Services Section ======= -->
<section id="services">
    <div class="container">
        <div class="px-4 pt-5 text-center">
            <h1 class="display-5 fw-bold pb-2">What benefits will members get
                by forming an IVCS?</h1>
            <div class="hr-line"></div>
            <div class="col-lg-10 mx-auto">
                <p class="lead mb-4 py-3">The IVCS would be a primary cooperative society
                    with multiple services to:</p>
            </div>
        </div>
        <div class="row align-items-center gy-3">
            <div class="col-sm-3 mb-3 mx-auto">
                <div class="card text-center mb-3" style="height: 22em;">
                    <div class="card-body shadow-lg">
                        <img src="img/services/rupee.png">
                        <h3 class="card-title py-2">Finance</h3>
                        <p class="card-text">Provide access to financial services especially savings and loans
                            (credit) to its members.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mx-auto">
                <div class="card text-center mb-3" style="height: 22em;">
                    <div class="card-body shadow-lg">
                        <img src="img/services/farming.png">
                        <h3 class="card-title py-2">Farming</h3>
                        <p class="card-text">Custom Hiring Centres (CHCs) are also set up in the IVCS where
                            farm machineries and equipments are provided to the IVCS</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mx-auto">
                <div class="card text-center mb-3" style="height: 22em;">
                    <div class="card-body shadow-lg">
                        <img src="img/services/stall.png">
                        <h3 class="card-title py-2">Marketing</h3>
                        <p class="card-text">Collective Marketing Centres (CMCs)
                            for storing crops, vegetables and other products.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mb-3 mx-auto">
                <div class="card text-center mb-3" style="height: 22em;">
                    <div class="card-body shadow-lg">
                        <img src="img/services/service.png">
                        <h3 class="card-title py-2">Other Services</h3>
                        <p class="card-text">Act as a service provider for different entities which would like to
                            reach the village households through the medium of the IVCS.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="position: relative;z-index: 1;">
                <a href="/services">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="key-message" class="bg-light-subtle">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-5 py-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-4">Key message for the Members</h1>
                <ul class="list-unstyled">
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3"> IVCS is an institution promoted by the people and is not a government institution.</span>
                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">The IVCS is an institution promoted by the people and is not a government
                          institution.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">The participation of all residents in the village(s) covered by the IVCS is
                          most important as it is this which will make the IVCS strong.</span>

                    </li>
                    <li class="py-2">
                        <i data-feather="check-circle" class="text-primary"></i>
                        <span class="px-3">It should be the endeavour of the promoters and members of the Managing
                              Committees of the IVCS to make all adults of all households in the village(s)
                              to become members of the IVCS.</span>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="position: relative;z-index: 1;">
                    <a href="members">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 rounded-pill">Read More</button>
                    </a>
                </div>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <div class="message-img">
                    <img src="img/article/5.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style="position: relative;">
                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/footer.html"></footer>


</body>
</html>