<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/htmlhead.html"> </head>
<body>

<nav th:replace="fragments/navbar.html"></nav>


<main class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 rounded bg-matte-black text-white">
        <div class="col-md-10 px-0 pt-5">
            <h1 class="display-4 fst-italic">Who can be a member in an IVCS?</h1>

            <p class="lead my-3">Membership in an IVCS is opened to individuals above the age
                of 18 years and lives in the village(s) covered by the IVCS.</p>

            <p class="lead my-3">Membership in an IVCS will also be open to SHGs/ Members
                of SHGs, Producer Groups/Members of PGs which operate/who lives in the village(s) covered by IVCS.</p>

            <p class="lead my-3">Minimum of 15 adults can start, as promoters, the process of
                forming an IVCS. Of the 15 promoters, efforts should be made
                that at least 05 will be women.</p>

            <p class="lead my-3">While mobilizing membership, minimum 50% of them should be women.</p>

            <p class="lead my-3">Wherever a Producer Group (PG) is formed, the PG and
                Members of the PG are required to become Members of the
                IVCS also by subscribing to the Shares of the IVCS.</p>

        </div>
    </div>
</main>

<section id="imp-points" class="bg-light-subtle py-5">
    <div class="container px-4">
        <h1 class="display-5 fw-bold pb-2 fst-italic">Key message for the Members:</h1>
        <div class="hr-line-about"></div>
        <div class="col-lg-12 pt-4">
            <p class="lead mb-4 pt-3">The IVCS is an institution promoted by the people and is not a government
                institution. </p>

            <p class="lead mb-4 pt-3">The participation of all residents in the village(s) covered by the IVCS is
                most important as it is this which will make the IVCS strong. </p>

            <p class="lead mb-4 pt-3">It should be the endeavour of the promoters and members of the Managing
                Committees of the IVCS to make all adults of all households in the village(s)
                to become members of the IVCS. </p>

            <p class="lead mb-4 pt-3">Members have a place in their own village to save their hard earned income
                no matter what amount and earn interest income also. Members can also get
                loans at reasonable rates of interest whenever they need especially in times
                of emergencies and for expanding their economic and business activities.</p>

            <p class="lead mb-4 pt-3">It would be difficult for the IVCS to develop through thrift and lending
                activities/ services. The IVCS would also need to identify and take up other
                economic activities also to become viable and earn good income and be able
                to pay dividends to their members. </p>

        </div>
    </div>
</section>


<footer th:replace="fragments/footer.html"></footer>


</body>
</html>