<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/htmlhead.html"> </head>
<body>

<nav th:replace="fragments/navbar.html"></nav>



<main class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 rounded bg-matte-black text-white">
        <div class="col-md-8 px-0 pt-5">
            <h1 class="display-4 fst-italic">What benefits will members get
                by forming an IVCS?</h1>
            <p class="lead my-3">The IVCS would be a primary cooperative society
                with multiple services to:</p>
        </div>
    </div>
</main>


<section id="about">
    <div class=" container px-4 pt-5 pb-4">
        <div class="hr-line-about"></div>
        <div class="col-lg-12">
            <p class="lead mb-4 pt-3">Provide access to financial services especially savings and loans
                (credit) to its members. Producer Groups are formed out of
                members cultivating same product or undertaking same economic activity
                are provided with interest free returnable funds for increasing their
                activities. Many IVCS have received interest free loans under the State
                Government’s Piggery Mission for pig rearing and breeding activities.</p>

            <p class="lead mb-4 pt-3">Sell to its members and other customers, inputs and other
                essential requirements that have to be sourced from outside the
                village. Custom Hiring Centres (CHCs) are also set up in the IVCS where
                farm machineries and equipments are provided to the IVCS which can
                hire them to their members on payment of hiring charges.</p>

            <p class="lead mb-4 pt-3">Engage in aggregation of crops/ products of members with a view
                to marketing the same advantageously to realize better prices.
                The IVCS or its members can also engage in processing activities as well.
                Here the project would establish Collective Marketing Centres (CMCs)
                for storing crops, vegetables and other products. Cold Storages are also
                set up which operate on solar energy. IVCS are also assisted in setting up
                Food processing units.</p>

            <p class="lead mb-4 pt-3">Act as a service provider for different entities which would like to
                reach the village households through the medium of the IVCS for
                variety of objectives such as marketing of products – both financial and
                non-financial.</p>
        </div>
    </div>
</section>


<main class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 rounded bg-matte-black text-white">
        <div class="col-md-12 px-0">
            <p class="lead my-3 fst-italic text-center">Under the project, a number of capacity building programmes
                through trainings, workshops, exposure visits (within and
                outside the State) are conducted free of cost from time to
                time for the office bearers and members of the IVCS. The
                programmes help office bearers develop skills in various fields
                like, financial literacy and maintenance of books of accounts,
                registers etc., mobilization, collective marketing and managing
                business establishments</p>
        </div>
    </div>
</main>


<footer th:replace="fragments/footer.html"></footer>


</body>
</html>